html(lang="en")
	head
		include ./includes/meta.pug
		include ./includes/links.pug
		include ./includes/scripts.pug 
	body.bodyCanvas
		include ./includes/googleCode.pug
		//- .body2
		
		block header
			.wrapper
				include ./includes/header.030415.1.pug
		
		.main
			.wrapper
				block video
					include ./includes/video.030415.1.pug

				block buttonControls
					include ./includes/buttonControls.030415.1.pug

				block content
					//- include ./includes/content.030215.1.pug

		//- .main
		//- 	block content
		//- 		include ./includes/content.030215.1.pug
		//- 	block sidebar
		//- 		include ./includes/sidebar.030215.1.pug
		
		//- block testimonials

		//- block logoSection

		block footer
			.wrapper
				include ./includes/footer.030215.1.pug