extends index.layout.030215.1.pug

block content
	include ./includes/terms.030215.1.pug

//- the empty blocks are to get rid of the content that was in index.layout
//- sidebar doesn't exist

block video

block buttonControls

//- block sidebar