#dashboard
	#effects
		h3 Effects
		a.effect#normal.ghost-button-fullcolorfade Normal
		a.effect#western.ghost-button-fullcolorfade Western
		a.effect#noir.ghost-button-fullcolorfade Noir
		a.effect#scifi.ghost-button-fullcolorfade Scifi
	#controls
		h3 Controls
		a.control#play.ghost-button-bordercolorfade Play
		a.control#pause.ghost-button-bordercolorfade Pause
		a.control#loop.ghost-button-bordercolorfade Loop
		a.control#mute.ghost-button-bordercolorfade Mute
	#videoSelection
		h3 Videos
		a.videoSelection#video1.ghost-button-thick Video1
		a.videoSelection#video2.ghost-button-thick Video2