.content(style='width:95%')
	h2 Contact
	p John Oliver Homage
	p 22 Oliver Street
	p Toronto, Ontario  M5C K7O
	p Phone: (555) 555-5555
	p Email:  
		a(href="mailto:hello@johnoliverhomage.com") hello@johnoliverhomage.com
	//- p Openskej
	//- p 606-34 Eglinton Avenue West
	//- p Toronto, Ontario  M4R 2H6
	//- p Phone: (647) 872-2167
	//- p Email:  
	//- 	a(href="mailto:hello@openskej.com") hello@openskej.com