#videoDiv
	video#video(width="720" height="401")

	////////////////////////////////////////////
	// 		SETUP SCRATCH BUFFER FOR CANVAS
	////////////////////////////////////////////
	
	canvas#buffer(width="720",height="401")
	canvas#display(width="720",height="401")

	// END SETUP SCRATCH BUFFER FOR CANVAS
